<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/leistrap.js"></script>
    <script src="/js/qrgenerator.js"></script>
    <script src="/js/qfetching.js"></script>
    <title>Invitation by QRCode</title>
</head>
<body>
    

    <script>
        // window.addEventListener("load", function(){
            // leistrap.event.invoke("generateQR", null, 'https://louis-isambo.github.io/leis/qr.jpg', function({img, download}){
            //     img.setStyleSheet({
            //         width  : "200px",
            //         height : "200px"
            //     })
            //     document.body.append(img._conf)
               
            //     document.body.append(
            //         leistrap.create("button", {
            //             text : "Télécharger",
            //             type : "button",
            //             onclick : function(){download()}
            //         })._conf
            //     )
            // })


            // const qEvent = {
            //     organizer : "louis",
            //     title : "my birthday",
            //     begdate : new Date().toString(),
            //     endate : new Date().toString(),
            //     place : "kin/alaxy",
                

            // }
            // leistrap.event.invoke("event:create", null, qEvent, function(result){
            //     console.log(result);

            //     setTimeout(function(){
            //         leistrap.event.invoke("event:addgust", null, {key: result.data.key, name : "isambo"}, function(res){
            //             console.log(res);
                        
            //         })
            //     }, 3000)
                
            // })  
            
        //     leistrap.event.invoke("event:addgust", null, {key: "GnTPTGOgdIfoDSbPllAHcAMEbGeQ", name : "elika louis"}, function(res){
        //                 console.log(res);
                        
        //         })
           
        // })
    </script>

</body>
</html>